.form-add-post-wrapper{
	// margin-bottom: 1000px;
	form {
		.form-wr{
			margin-bottom: 30px;
			border-bottom: 1px solid #cecece;
			p {
				margin-bottom: 10px;
				label {

				}

				input {

				}
				select {

				}
			}
		}
	}
}

